:root {
  --primary-color: #4dbdd4;
  --primary-shade: #2da1b8;
  --white-color: #fff;
  --text-font: PoppinsRegular, sans-serif;
  --heading-font: PoppinsBold, sans-serif;
  --gray-color: #d9d9d9;
  --text-color: rgb(21, 41, 75);
  --text-shade: #0f1d36;
}

#aboutme {
  background-color: var(--gray-color);
  text-align: center;
  overflow: scroll;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#aboutme h2 {
  font-family: SintonyBold;
  margin-bottom: 1em;
}

main p {
  font-size: 1.25rem;
  text-align: justify;
}

.text-box {
  min-height: 60%;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  justify-content: center;
  background-color: var(--white-color);
  border-radius: 20px;
  padding: 1em;
}

#name-heading {
  font-size: 2rem;
  font-weight: bold;
  background: linear-gradient(
    to top,
    var(--primary-shade),
    var(--primary-color)
  );
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

@media (max-width: 800px) {
  main p {
    font-size: 1.2rem;
  }
  #name-heading {
    font-size: 1.8rem;
  }

  .text-box {
    row-gap: 25px;
  }
}

@media (max-width: 625px) {
  main p {
    font-size: 1rem;
  }
}
